body{ margin:0;}
#clockCon{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 60, 255, 0.767);
}
#clock{
    box-shadow: 25px 25px 35px rgba(0, 153, 255, 0.4);
    background-color: rgba(0, 153, 255, 0.9);
    font-size: 7em;
    font-family: monospace;
    text-align: center;
    color:whitesmoke;
    transition: background-color 0.25s;
    padding: 80px 100px;
}
#clock:hover{
    background-color: rgba(0, 153, 255, 0.4);
    cursor:pointer;
}